<div id="page-details">

  <div class="info">

    <h4>{{ page.title }}</h4>

  {% if page.header.author %}
        {{'THEME_FRUKT_AUTHOR'|t}}: {{page.header.author }} <br />
  {% endif %}

    {% if page.header.date %}
        {{'THEME_FRUKT_PUBLISHED'|t}} {{page.header.date | nicetime }} <br />
    {% endif %}

        {{'THEME_FRUKT_EDITED'|t}} {{page.modified | nicetime}}

  </div>

  <div class="qr">
    {{ qrcode_image_element( page.url(true), ["#888", '#7e7'] ) }}
  </div>




</div>
