<a class="tag {{type}} {{class}}"
{% if link %}
  href="{{link}}"
{% endif %}
{% if type %}
  style="border-color: var(--{{type}})"
{% endif %}
 >
  {% if icon %}
    <i class="fa {{ icon }}"></i>
  {% endif %}
{% if icon_file %}
  {{ read_file('theme://icons/' ~ icon_file) }}
{% endif %}
  {% if text %}
    <span class="text">{{ text }}</span>
  {% endif %}
</a>
