<article id="{{ page.slug }}" class="list">

	<header>
		<div class="sticky">

			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}

			{% include 'cards/card-image.html.twig' with {size:280} %}

			{% if page.routable %}
				<h1>{{ page.title }}</h1>
			{% endif %}

			{% if page.header.subtitle %}
				{{ page.header.subtitle|markdown }}
			{% endif %}

			{% if page.header.additional %}
				{{ page.header.additional|markdown }}
			{% endif %}

			{% if uri.param('tag') %}
				<h4>
					<span class="tag is-large">{{uri.param('tag')}}</span>
				</h4>
			{% endif %}

		</div>
	</header>

	<section class="cards">

		{{ page.content }}

		{% set collection = page.collection %}
		{% for item in collection %}

			{% include 'cards/card-select.html.twig'  %}

		{% endfor %}

		{# Render the pagination list #}
		{% if config.plugins.pagination.enabled and collection.params.pagination %}
			{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
		{% endif %}

	</section>

</article>
