<article id="{{ page.slug }}" class="list">

	<header class="pa4">
		

			{% if page.routable %}
				<h1 class="ma0">{{ page.title }}</h1>
			{% endif %}

			{% if uri.param('tag') %}
				<h4>
					<span class="tag is-large">{{uri.param('tag')}}</span>
				</h4>
			{% endif %}

			{{ page.content }}
			

	</header>
	
	<section class="flex flex-column mw100">

		{% if page.collection|count >0 %}
			{% set my_collection = page.collection %}
		{% else %}
			{% set options = { items: {'@self.children':''}, 'order': {'by': 'default', 'dir': 'asc'}} %}
			{% set my_collection = page.collection(options) %}
		{% endif %}

	{% if my_collection|count>0 %}	

	<section class="cards">
		<section class="intro">
		{% include 'cards/card-image.html.twig' with {size:280} %}
		
			{% if page.header.subtitle %}
				{{ page.header.subtitle|markdown }}
			{% endif %}

			{% if page.header.additional %}
				{{ page.header.additional|markdown }}
			{% endif %}
<div class="swiper">← Листайте →
</div>
			
			
			
		</section>
	
		
		{% for item in my_collection %}

			{% include 'cards/card-select.html.twig'  %}

		{% endfor %}

		{# Render the pagination list #}
		{% if config.plugins.pagination.enabled and collection.params.pagination %}
			{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
		{% endif %}

		</section>
	</section>

	{% endif %}

</article>
