{% extends 'partials/base.html.twig' %}

{% block content %}
<main id="{{ main_id }}" class="{{ main_classes }} panels">

  <header class="{{ header_classes }}">
    {% block side %}
    <div class="top">

    {% if page.header.icon  %}
        <div class="icon">
              {{page.media[page.header.icon].cropResize(300,300)}}
        </div>
    {% endif %}
    <div class="start">

      {% if config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
      {% endif %}

      <h1 class="">{{ page.title }}</h1>
      {% if page.header.subtitle %}
        {{page.header.subtitle|markdown }}
      {% endif %}

    {% block info %}
      <small>
      {% for tag in page.taxonomy.tag %}
          <a href="/tag:{{tag}}">
            <span class="tag">{{tag}}</span>
          </a>
      {% endfor %}

      {% if config.plugins['count-views'].enabled %}
      <span class="tag"><i class="fa fa-eye"></i>
         {{ viewcounts[page.route]|nicenumber }}
      </span>
      {% endif %}
      {% if config.plugins.readingtime.enabled %}
      <span class="tag"><i class="fa fa-clock-o"></i>
           {{ page.content|readingtime({'minutes_label':'THEME_FRUKT_MINUTES'|t, 'minute_label': 'THEME_FRUKT_MINUTES'|t}) }}
      </span>
      {% endif %}

      </small>
    {% endblock info %}


    {% if page.header.additional %}
      <div class="additional">
        {{ page.header.additional|markdown }}
      </div>
    {% endif %}


    </div>

    </div>

      {% block toc %}{% endblock %}

    {% endblock side %}
  </header>

  <article class="content {{ article_classes }}">
    {% block article %}
      {{ page.content }}
    {% endblock article %}
  </article>

</main>
{% endblock content %}
