{% if item.visible %}
        
            <div class="card my-2"> 
            	<div class="card-content">
            	    {% if item.parent.title != 'Pages' %}
            	        <a class="underlined" href="{{item.parent.url}}">{{item.parent.title}}</a>
            	    {% endif %}
                    <h4 class="title is-size-4"><a href="{{item.url}}">{{item.title}}</a> 
                    
                    
                    
                    </h4> 
                    <p class="subtitle is-size-7">
                        
                        {% if item.template == 'article' %}
                        <small class="is-size-7 has-text-weight-normal"><i class="fa fa-clock-o"></i> {{ item.content|readingtime({'minutes_label':'мин.', 'minute_label': 'мин.'}) }}
                        </small> /
                         {% endif %}
                        
                         <i class="fa fa-eye"></i>
                         {{ viewcounts[page.route]|nicenumber }} /
                         <i class="fa fa-pencil"></i> {{item.modified | nicetime}}</p>
                    <p>{{item.summary(100)|striptags}}</p>
                    
                    
                </div>
            </div>
     
{% endif %}         