<article id="{{ page.slug }}" class="list {{ page.content|length > 800 ? 'wide' : '' }}">

  <section class="content" >
    <div class="sticky">

      {% if config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
      {% endif %}
      {% if page.routable %}
        <h1 >{{ page.title }}</h1>
      {% endif %}

      <p>
        {{ page.header.subtitle|markdown }}
      </p>

      {% if uri.param('tag') %}
          <h4><span class="tag is-large">{{uri.param('tag')}}</span></h4>
      {% endif %}
    </div>
  </section>

  <section class="cards">

      {{ page.content }}

      {% set collection = page.collection %}
      {% for item in collection %}

            {% include '/partials/card.html.twig'  %}

      {% endfor %}

      {# Render the pagination list #}
        {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        {% endif %}

  </section>

</article>
