{% extends 'layout/base.html.twig' %}

{% block content %}
    <main class="article {{ page.header.toc ? 'with-toc':'no-toc'}}">
      <header>
        {% if page.header.icon  %}
            <div class="article-icon">
                  {{page.media[page.header.icon]}}
            </div>
        {% endif %}
        <div class="article-start">
          {% if page.parent.slug == 'pages' %}
              {% set parent = page.find(system.home.alias) %}
          {% else %}
              {% set parent = page.parent %}
          {% endif %}

          <a href="{{parent.url}}">{{ parent.title }}</a>
          <h1 class="">{{ page.title }}</h1>

          <small>
          {% for tag in page.taxonomy.tag %}
              <a href="/tag:{{tag}}">
                <span class="tag">
                  {{tag}}
                </span>
              </a>
          {% endfor %}
           <i class="fa fa-eye"></i>
              {{ viewcounts[page.route]|nicenumber }} /
          <i class="fa fa-clock-o"></i>
               {{ page.content|readingtime({'minutes_label':'THEME_FRUKT_MINUTES'|t, 'minute_label': 'THEME_FRUKT_MINUTES'|t}) }}
          </small>

          <div class="info"> {{page.header.subtitle|markdown }} </div>


        </div>

          {% if page.header.toc %}
            {% set table_of_contents = toc(page.content, 2, 4) %}
            {% if table_of_contents is not empty  %}
            <div class="page-toc">
                <a href="#"><h5>{{page.title}}</h5></a>
                {{ table_of_contents }}
            </div>
            {% endif %}
          {% endif %}
      </header>
      <article class="content">

        <p>
            {{ page.content }}
        </p>

         <hr />
        <p class="">

            {% if page.header.author %}
            <i class="fa fa-user"></i> {{'THEME_FRUKT_AUTHOR'|t}}: {{page.header.author }}  <br />
            {% endif %}

            {% if page.header.date %}
            <i class="fa fa-keyboard-o"></i> {{'THEME_FRUKT_PUBLISHED'|t}} {{page.header.date | nicetime }}  <br />
            {% endif %}

            <i class="fa fa-pencil"></i> {{'THEME_FRUKT_EDITED'|t}} {{page.modified | nicetime}}</p>


      </article>
      {% set linked = backlinks[page.url] %}
      {% if linked|length >0 %}
       <footer>
          <h3 class="mt-3">{{'THEME_FRUKT_LINKS'|t}}:</h3>
          {%  for link in linked %}
              {% set backlink = page.find(link) %}
              {% include 'partials/card.html.twig' with {'item':backlink} %}
          {% endfor %}
       </footer>
      {% endif %}
   </main>

{% endblock %}
