{% if item.visible %}

            <div class="card {{ item.active ? 'active' : '' }}">

            	  {#}  {% if item.media.images or item.media.files %}
                	    <div class="image">
                	        <a href="{{item.url}}">
                    	        {% if item.media.images %}
                    	            {{item.media.images|first.resize(300,300)}}
                    	        {% else %}
                    	             {{item.media.files|first.resize(100,100)}}
                    	        {% endif %}
                	        </a>
                	    </div>
            	    {% endif %} #}

            	    <div class="info">


                    <h4 class="title"><a href="{{item.url}}">{{item.title}}</a>
                    </h4>




            	    </div>

            </div>

{% endif %}
