{% set icon_file = icon_file ?: 'lines/' ~ type ~ '.svg' %}
{% set template = template ?: 'item-card' %}


  {% if collect | count > 0 %}

    <div id="{{ page.slug }}" class="lister">
      <header>
            <h2>{{ title|t }}</h2>
            <h3 class="{{type}}">
              {% if icon_file %}
                {{ read_file('theme://icons/' ~ icon_file) }}
              {% endif %}
              {{collect|count}}
            </h3>
      </header>
      <section class="alist">
      {% for item in collect %}

        {% include 'cards/' ~ template ~ '.html.twig' %}

      {% endfor %}
      </section>


    </div>

  {% endif %}
