{% set icon_file = icon_file ?: 'lines/' ~ type ~ '.svg' %}
{% set template = template ?: 'item-card' %}
{% do
  assets.addJs('theme://js/lister.js', 99) %}


  {% if collect and collect | count > 0 %}

    <div id="{{ type }}" class="lister">
      <header class="list-toggle up" data-type="{{type}}">
            <h2>{% if icon_file %}
              {{ read_file('theme://icons/' ~ icon_file) }}
            {% endif %} {{ title|t }}</h2>
            <h3 >
              {{collect|count}} <i class="fa fa-chevron-down"></i>
            </h3>
      </header>
      <section class="alist open" id="{{type}}-list">
      {% for item in collect %}

        {% include 'cards/' ~ template ~ '.html.twig' %}

      {% endfor %}
      </section>


    </div>

  {% endif %}
