{% do assets.addCss('theme://css/navigation.css', 100) %}
<div class="panel-overlay">
</div>
  <aside class="panel">
  <div class="logo">
      <a href="{{ home_url }}">

          {{ config.site.title }}
      </a>

  </div>

  <nav class="main-nav">
    <ul>
        {% for page in pages.children.visible %}
          {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <li class="{{ current_page }}">
              <a href="{{page.url}}">{{page.title}}</a>
            </li>
        {% endfor %}
    </ul>
  </nav>

</aside>
