{% if item.visible %}

  <div class="card">
    <div class="card-content">

      {% include 'cards/card-image.html.twig' with { url:item.url }%}

      <div class="card-text">

        <a href="{{item.url}}">
          <h3 class="title">{{item.title}}
          </h3>

          <p class="summary">
            {% if item.header.subtitle %}
              {{ item.header.subtitle|markdown }}
            {% elseif item.template == 'article' or item.template == 'def' %}
              {{item.summary(300)|striptags}}
            {% endif %}

          </p>

          {% if item.template == 'article' %}
            <small class="">

              {% for tag in item.taxonomy.tag %}
                {% include 'partials/tag.html.twig' with {
                  type:'tag',
                  text: tag
                } only %}
              {% endfor %}

              {% if config.plugins['count-views'].enabled %}
                {% include 'partials/tag.html.twig' with {
                  type:'views',
                  icon:'fa-eye',
                  text: (viewcounts[item.route] ?? 0)|nicenumber
                } only %}
              {% endif %}

              {% if config.plugins.readingtime.enabled %}
                {% include 'partials/tag.html.twig' with {
                  type:'reading-time',
                  icon:'fa-clock-o',
                  text: item.content|readingtime({'minutes_label':'мин.', 'minute_label': 'мин.'})
                } only %}
              {% endif %}

              {% if false %}
                <span class="tag">
                  <i class="fa fa-pencil"></i>
                  {{item.modified | nicetime}}</span>
              {% endif %}

            </small>
          {% endif %}
        </a>

      </div>

      {% if item.template == 'feed' and item.children %}
        {% include 'cards/child-cards.html.twig' %}
      {% endif %}

    </div>

  </div>

{% endif %}
