{% extends 'partials/base.html.twig' %}


{% block content %}
    <section id="body-inner" class="markdown-body">
        <h1>{{ page.title }}

        </h1>
        {% for tag in page.taxonomy.tag %}
            <a href="/research/tag:{{tag}}">
                {% include 'partials/tag.html.twig' %}
            </a>
        {% endfor %}
        <small class="is-size-7 has-text-weight-normal">
         <i class="fa fa-eye"></i>
            {{ viewcounts[page.route]|nicenumber }} /
        <i class="fa fa-clock-o"></i>
            Время на чтение ~ {{ page.content|readingtime({'minutes_label':'мин.', 'minute_label': 'мин.'}) }}
        </small>
        
        <p>
            {{ page.summary }}
        </p>

        {% set table_of_contents = toc(page.content, 2, 4) %}
        {% if table_of_contents is not empty  %}
        <div class="page-toc">
            <h4>Содержание:</h4>
            {{ table_of_contents }}
        </div>
        {% endif %}

        <p>
        	{% set content = page.content|slice(page.summary|length) %}
            {{ content }}
        </p>
         <hr />
        <p class="has-text-right">

            {% if page.header.author %}
            <i class="fa fa-user"></i> Автор: {{page.header.author }}  <br />
            {% endif %}

            {% if page.header.date %}
            <i class="fa fa-user"></i> Опубликовано {{page.header.date | nicetime }}  <br />
            {% endif %}

            <i class="fa fa-pencil"></i> Последняя редакция {{page.modified | nicetime}}</p>


        {% set linked = backlinks[page.url] %}
        {% if linked|length >0 %}
         <section class="content">
            <h3 class="mt-3">На эту статью ссылаются:</h3>
            {%  for link in linked %}
                {% set backlink = page.find(link) %}
                {% include 'partials/card.html.twig' with {'item':backlink} %}
            {% endfor %}
         </section>
        {% endif %}
   </section>

{% endblock %}
