{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="content article {{ page.header.toc ? 'with-toc':'no-toc'}}">
      <header>
        {% if page.header.icon  %}
            <div class="article-icon">
                  {{page.media[page.header.icon]}}
            </div>
        {% endif %}
        <div class="article-start">
          <h1 class="is-size-4">{{ page.title }}

          </h1>

          {% for tag in page.taxonomy.tag %}
              <a href="/research/tag:{{tag}}">
                <span class="tag">
                  {{tag}}
                </span>
              </a>
          {% endfor %}

          <small class="is-size-7 has-text-weight-normal">
           <i class="fa fa-eye"></i>
              {{ viewcounts[page.route]|nicenumber }} /
          <i class="fa fa-clock-o"></i>
               {{ page.content|readingtime({'minutes_label':'мин.', 'minute_label': 'мин.'}) }}
          </small>


        </div>

          {% if page.header.toc %}
            {% set table_of_contents = toc(page.content, 2, 4) %}
            {% if table_of_contents is not empty  %}
            <div class="page-toc">
                <h5>{{page.title}}</h5>
                {{ table_of_contents }}
            </div>
            {% endif %}
          {% endif %}
      </header>
      <article>



        <p>

            {{ page.content }}
        </p>
         <hr />
        <p class="has-text-right">

            {% if page.header.author %}
            <i class="fa fa-user"></i> Автор: {{page.header.author }}  <br />
            {% endif %}

            {% if page.header.date %}
            <i class="fa fa-user"></i> Дата публикации {{page.header.date | nicetime }}  <br />
            {% endif %}

            <i class="fa fa-pencil"></i> Последняя редакция {{page.modified | nicetime}}</p>


        {% set linked = backlinks[page.url] %}
        {% if linked|length >0 %}
         <section class="content">
            <h3 class="mt-3">На эту статью ссылаются:</h3>
            {%  for link in linked %}
                {% set backlink = page.find(link) %}
                {% include 'partials/card.html.twig' with {'item':backlink} %}
            {% endfor %}
         </section>
        {% endif %}
      </article>

   </main>

{% endblock %}
