{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ? : grav.config.site.default_lang }}">
  <head>
    {% block head %}
      <meta charset="utf-8" />
      <title>
        {% if header.title %}
          {{ header.title }} |
        {% endif %}{{ site.title }}
      </title>
      
      {% include 'partials/metadata.html.twig' %}
      
    {% endblock %}

    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet"> 
    {% do assets.addCss('theme://css/utils.css', 94) %}
      {% do assets.addCss('theme://css/theme.css', 98) %}
      {% do assets.addCss('theme://css/assets/tachyons.min.css', 100) %}
      {% do assets.addCss('theme://css/assets/fork-awesome.min.css', 102) %}
    {% endblock %}

    {% block javascripts %}
      {% do assets.addJs('theme://js/scroll.js', 100) %}
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
  </head>
  <body id="top" class="{{ page.header.body_classes }}">

    {% block header %}
      {% include 'layout/header.html.twig' %}
    {% endblock %}

    {% block body %}
      <main id="body" class="mw8">

          {% block content %}
          {% endblock %}
        
      </main>
    {% endblock %}

    {% block footer %}
      {% include 'layout/footer.html.twig' %}
    {% endblock %}

    {% block bottom %}
      {{ assets.js('bottom')|raw }}
    {% endblock %}
  </body>
</html>
