{% extends 'layout/panels.html.twig' %}

{% do
  assets.addCss('theme://css/design.css', 99) %}

{% set main_id = 'design' %}

{% set options = { items: {'@self.children':''}, 'order': {'by': 'default', 'dir': 'asc'}} %}
{% set my_collection = page.collection(options) %}

{% set bg_color = 'var(--darker-gray)'%}

{% block side %}
  <div class="top">

    {% if page.header.icon %}
      <div class="icon">
        {{page.media[page.header.icon].cropResize(300,300)}}
      </div>
    {% endif %}

    <div class="start">

      {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
      {% endif %}

      <h1>{{ page.title }}</h1>
      {% if page.header.subtitle %}
        {{page.header.subtitle|markdown }}
      {% endif %}

      {% if page.header.website %}
        <a href="https://{{ page.header.website}}" target="_blank">{{page.header.website}}</a>
      {% endif %}

      {% if page.header.additional %}
        <div class="additional">
          {{ page.header.additional|markdown }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock side %}

{% block info %}{% endblock %}

{% block article %}

  {{ page.content }}

  {% if page.children.visible | count > 0 %}

    <div class="projects">
      <header>
            <h2>{{ 'THEME_FRUKT_PROJECTS'|t }}</h2>
            <h3>{{page.children.visible.count}}</h3>
      </header>
      {% for item in page.children.visible %}

        {% include 'cards/project-card.html.twig' %}

      {% endfor %}

    </div>

  {% endif %}

{% endblock %}
