{% extends 'layout/panels.html.twig' %}

{% do
  assets.addCss('theme://css/design.css', 99) %}
  {% do
    assets.addCss('theme://css/icons.css', 99) %}

{% set main_id = 'design' %}

{% set options = { items: {'@self.children':''}, 'order': {'by': 'default', 'dir': 'asc'}} %}
{% set my_collection = page.collection(options) %}

{% set bg_color = 'var(--darker-gray)'%}

{% block side %}
  <div class="top">

    {% if page.header.icon %}
      <div class="icon">
        {{page.media[page.header.icon].cropResize(300,300)}}
      </div>
    {% endif %}

    <div class="start">

      {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
      {% endif %}

      <h1>{{ page.title }}</h1>


      {% if page.header.subtitle %}
        {{page.header.subtitle|markdown }}
      {% endif %}

      {% if page.header.website %}
        <a href="https://{{ page.header.website}}" target="_blank">{{page.header.website}}</a>
      {% endif %} <br>

      {% if page.header.status %}
        {% include 'partials/status.html.twig' with { item: page } %}
      {% endif %}

      {% if page.header.additional %}
        <div class="additional">
          {{ page.header.additional|markdown }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock side %}

{% block info %}{% endblock %}

{% block article %}

{% if page.header.idea %}
  <div class="idea">
    {{page.header.idea}}
  </div>
{% endif %}

{% if page.header.purpose %}
  <div class="purpose">
    {{page.header.purpose}}
  </div>
{% endif %}

  {{ page.content }}

{% endblock %}

{% block lists %}
  {% include 'partials/lister.html.twig' with {
    type: 'project',
    title:'THEME_FRUKT.PROJECTS',
    icon_file: 'lines/project.svg',
    template: 'project-card',
    collect: page.children.visible
  }  %}
{% endblock %}
