{% extends 'layout/panels.html.twig' %}

{% do assets.addCss('theme://css/design.css', 99) %}
{% do assets.addCss('theme://css/ukt.css', 99) %}

{% set main_id = 'ukt' %}

{% block info %}{% endblock %}

{% set file = read_file(page.path() ~ '/ukt.svg') %}

{% macro col(u,k,t,file) %}
  {% set classes = 'u' ~ u ~ ' k' ~ k ~ ' t' ~ t %}
  {% set text = 'Y' ~ u ~ ' K' ~ k ~ ' T' ~ t %}
    <div class="col {{classes}}">
      <div class="svg">{{file}}</div>
      <div class="text">{{text}}</div>
    </div>
{% endmacro %}

{% block article %}

  {{ page.content }}


  <div class="ukts">
  <h4>Универсализация:</h4>
  <ul>
    <li>0 — «Делать то, что уже хорошо умеешь»</li>
    <li>5 — «Делать что-то для себя совершенно новое»</li>
  </ul>
    <div class="row">
    {% for u in 0..5 %}
      {{ _self.col(u,0,0,file) }}
    {% endfor %}
    </div>
    <h4>Кооперация:</h4>
    <ul>
      <li>0 — «Делаю в одиночку»</li>
      <li>5 — «Делаем то, что реализуемо только слаженной командой»</li>
    </ul>
    <div class="row">
    {% for k in 0..5 %}
      {{ _self.col(0,k,0,file) }}
    {% endfor %}
    </div>
    <h4>Творчество:</h4>
    <ul>
      <li>0 — «В результате все останется как было»</li>
      <li>5 — «Будет создано что-то красивое и полезное»</li>
    </ul>
    <div class="row">
    {% for t in 0..5 %}
      {{ _self.col(0,0,t,file) }}
    {% endfor %}
    </div>

<h4>Случайные примеры:</h4>
  {% for ran in 0..3 %}
    <div class="row">
      {% for r in 0..5 %}
        {{ _self.col(random(5),random(5),random(5),file) }}
      {% endfor %}
      </div>
  {% endfor %}
</div>

{% endblock %}

{% block lists %}


{% endblock %}
