{% set next = page.prevSibling %}
{% set prev = page.nextSibling %}

{% if prev or next %}
	<footer id="bottom-page-nav">

	{% if prev.title %}
	    <a class="nav prev" href="{{ prev.url }}">
	        <i class="fa fa-2x fa-chevron-left"></i>
	        <div>
	            <h6>{{ 'THEME_FRUKT_PREVIOUS'|t }}</h6>
	            <h5>{{ prev.title }}</h5>
	        </div>
	    </a>
	{% endif %}

	{% if next.title %}
	    <a class="nav next" href="{{ next.url }}">
	        <i class="fa fa-2x fa-chevron-right"></i>
	        <div>
	            <h6>{{ 'THEME_FRUKT_NEXT'|t }}</h6>
	            <h5>{{ next.title }}</h5>
	        </div>
        </a>
	{% endif %}

	</footer>
{% endif %}
