{% if item.visible %}

  <div class="card">
     <div  class="card-content">
  	     <a href="{{item.url}}">
          {% include 'partials/card-image.html.twig'%}
         </a>
          <div class="card-text">


            <a href="{{item.url}}">
            <h3 class="title">{{item.title}}
            </h3>

            <p class="summary">
              {{item.summary(150)|striptags}}
            </p>

            {% if item.template == 'article' %}
            <small class="">


              {% for tag in item.taxonomy.tag %}
                     <span class="tag">
                       {{tag}}
                     </span>
                 {% endfor %}

                 <span class="tag"><i class="fa fa-eye"></i>
                 {{ (viewcounts[item.route] ?? 0)|nicenumber }}</span>

              <span class="tag"><i class="fa fa-clock-o"></i> {{ item.content|readingtime({'minutes_label':'мин.', 'minute_label': 'мин.'}) }}</span>

            {% if false %}
                <span class="tag"><i class="fa fa-pencil"></i> {{item.modified | nicetime}}</span>
            {% endif %}


             </small>
            {% endif %}
            </a>

          </div>

          {% if item.children %}
            {% include 'partials/child-cards.html.twig' %}
          {% endif %}

          </div>




    </div>

{% endif %}
